body { font-family: Arial, sans-serif; margin: 20px; background: url('reportform.webp') no-repeat center center/cover; }
form { background: url('reportformm.webp') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px; max-width: 500px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 25px; background-color: white;}
label { font-weight: bold; display: block; margin-top: 10px; }
input, textarea, button { width: 100%; padding: 8px; margin-top: 5px;}
button { background-color: #c5a01b; color: white; border: none; cursor: pointer; border-radius: 25px; }
button:hover { background-color: #fcee2c7c; }
#map-icon { cursor: pointer; width: 20px; height: 20px; margin-left: 10px; vertical-align: middle; }

