
body { font-family: Arial, sans-serif; margin: 20px; background: url('report.jpg') no-repeat cover center fixed;}
#map { height: 500px; width: 100%; margin-top: 10px; }
button { padding: 10px 20px; background-color: #28a745; color: white; border: none; cursor: pointer; }
button:hover { background-color: #218838; }
